Connected Services/SGPMReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IProjectsManagement" />
  <xs:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IBeneficiaryManagement" />
  <xs:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SGPM_DataBAse" />
  <xs:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IRequestManagement" />
  <xs:element name="GetProjectDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProject" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IProjectsManagement" minOccurs="0" name="GetProjectDetailsResult" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeneficiaries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeneficiariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IBeneficiaryManagement" minOccurs="0" name="GetBeneficiariesResult" nillable="true" type="q2:ArrayOfBeneficiary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IBeneficiaryManagement" minOccurs="0" name="GetPersonsResult" nillable="true" type="q3:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IBeneficiaryManagement" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q4:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SGPM_DataBAse" minOccurs="0" name="request" nillable="true" type="q5:SolicitudSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRequestDocumentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IRequestManagement" minOccurs="0" name="files" nillable="true" type="q6:ArrayOfFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterRequestDocumentationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterRequestDocumentationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverRequestDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverRequestDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SGPM_DataBAse" minOccurs="0" name="RecoverRequestDetailsResult" nillable="true" type="q7:SolicitudSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>