Connected Services/SGPMReference/SGPMManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SGPMManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProjectsManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IBeneficiaryManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRequestManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IUserManagement_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IProjectsManagement" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IBeneficiaryManagement" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SGPM_DataBAse" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IRequestManagement" />
      <xsd:import schemaLocation="http://192.168.1.129:8082/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.IUserManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectsManagement_GetProjectDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetails" />
  </wsdl:message>
  <wsdl:message name="IProjectsManagement_GetProjectDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectsManagement_GetProjectPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectPolicies" />
  </wsdl:message>
  <wsdl:message name="IProjectsManagement_GetProjectPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectsManagement_GetProjectsFromLocality_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsFromLocality" />
  </wsdl:message>
  <wsdl:message name="IProjectsManagement_GetProjectsFromLocality_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsFromLocalityResponse" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetBeneficiaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiaries" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetBeneficiaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBeneficiariesResponse" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersons" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="IBeneficiaryManagement_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequest" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequestDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequestDocumentation" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequestDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequestDocumentationResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RecoverRequestDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoverRequestDetails" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RecoverRequestDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoverRequestDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequestWithDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequestWithDocuments" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterRequestWithDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRequestWithDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_BeneficiaryHasRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:BeneficiaryHasRequest" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_BeneficiaryHasRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeneficiaryHasRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_GetRequestFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestFiles" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_GetRequestFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterOpinion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOpinion" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_RegisterOpinion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOpinionResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_GetRequestsOfProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsOfProject" />
  </wsdl:message>
  <wsdl:message name="IRequestManagement_GetRequestsOfProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestsOfProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserManagement_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectsManagement">
    <wsdl:operation name="GetProjectDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectDetails" message="tns:IProjectsManagement_GetProjectDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectDetailsResponse" message="tns:IProjectsManagement_GetProjectDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectPolicies" message="tns:IProjectsManagement_GetProjectPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectPoliciesResponse" message="tns:IProjectsManagement_GetProjectPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsFromLocality">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectsFromLocality" message="tns:IProjectsManagement_GetProjectsFromLocality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectsManagement/GetProjectsFromLocalityResponse" message="tns:IProjectsManagement_GetProjectsFromLocality_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBeneficiaryManagement">
    <wsdl:operation name="GetBeneficiaries">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetBeneficiaries" message="tns:IBeneficiaryManagement_GetBeneficiaries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetBeneficiariesResponse" message="tns:IBeneficiaryManagement_GetBeneficiaries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetPersons" message="tns:IBeneficiaryManagement_GetPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetPersonsResponse" message="tns:IBeneficiaryManagement_GetPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetCompanies" message="tns:IBeneficiaryManagement_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeneficiaryManagement/GetCompaniesResponse" message="tns:IBeneficiaryManagement_GetCompanies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRequestManagement">
    <wsdl:operation name="RegisterRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequest" message="tns:IRequestManagement_RegisterRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequestResponse" message="tns:IRequestManagement_RegisterRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterRequestDocumentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequestDocumentation" message="tns:IRequestManagement_RegisterRequestDocumentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequestDocumentationResponse" message="tns:IRequestManagement_RegisterRequestDocumentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoverRequestDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/RecoverRequestDetails" message="tns:IRequestManagement_RecoverRequestDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/RecoverRequestDetailsResponse" message="tns:IRequestManagement_RecoverRequestDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterRequestWithDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequestWithDocuments" message="tns:IRequestManagement_RegisterRequestWithDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/RegisterRequestWithDocumentsResponse" message="tns:IRequestManagement_RegisterRequestWithDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeneficiaryHasRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/BeneficiaryHasRequest" message="tns:IRequestManagement_BeneficiaryHasRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/BeneficiaryHasRequestResponse" message="tns:IRequestManagement_BeneficiaryHasRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/GetRequestFiles" message="tns:IRequestManagement_GetRequestFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/GetRequestFilesResponse" message="tns:IRequestManagement_GetRequestFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterOpinion">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/RegisterOpinion" message="tns:IRequestManagement_RegisterOpinion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/RegisterOpinionResponse" message="tns:IRequestManagement_RegisterOpinion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestsOfProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestManagement/GetRequestsOfProject" message="tns:IRequestManagement_GetRequestsOfProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestManagement/GetRequestsOfProjectResponse" message="tns:IRequestManagement_GetRequestsOfProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserManagement">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserManagement/GetUser" message="tns:IUserManagement_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserManagement/GetUserResponse" message="tns:IUserManagement_GetUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProjectsManagement" type="tns:IProjectsManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IProjectsManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProjectDetails">
      <soap12:operation soapAction="http://tempuri.org/IProjectsManagement/GetProjectDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectPolicies">
      <soap12:operation soapAction="http://tempuri.org/IProjectsManagement/GetProjectPolicies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsFromLocality">
      <soap12:operation soapAction="http://tempuri.org/IProjectsManagement/GetProjectsFromLocality" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IBeneficiaryManagement" type="tns:IBeneficiaryManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IBeneficiaryManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBeneficiaries">
      <soap12:operation soapAction="http://tempuri.org/IBeneficiaryManagement/GetBeneficiaries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap12:operation soapAction="http://tempuri.org/IBeneficiaryManagement/GetPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <soap12:operation soapAction="http://tempuri.org/IBeneficiaryManagement/GetCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRequestManagement" type="tns:IRequestManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IRequestManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterRequest">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/RegisterRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRequestDocumentation">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/RegisterRequestDocumentation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoverRequestDetails">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/RecoverRequestDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRequestWithDocuments">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/RegisterRequestWithDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeneficiaryHasRequest">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/BeneficiaryHasRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestFiles">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/GetRequestFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOpinion">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/RegisterOpinion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsOfProject">
      <soap12:operation soapAction="http://tempuri.org/IRequestManagement/GetRequestsOfProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IUserManagement" type="tns:IUserManagement">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserManagement_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IUserManagement/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGPMManager">
    <wsdl:port name="NetTcpBinding_IProjectsManagement" binding="tns:NetTcpBinding_IProjectsManagement">
      <soap12:address location="net.tcp://localhost:8083/SGPM_Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/SGPM_Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IBeneficiaryManagement" binding="tns:NetTcpBinding_IBeneficiaryManagement">
      <soap12:address location="net.tcp://localhost:8083/SGPM_Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/SGPM_Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRequestManagement" binding="tns:NetTcpBinding_IRequestManagement">
      <soap12:address location="net.tcp://localhost:8083/SGPM_Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/SGPM_Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IUserManagement" binding="tns:NetTcpBinding_IUserManagement">
      <soap12:address location="net.tcp://localhost:8083/SGPM_Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8083/SGPM_Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>