Connected Services/SGPMService/item6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGPM_Contracts.ILocalityManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGPM_Contracts.ILocalityManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Locality">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalityID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Township" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Locality" nillable="true" type="tns:Locality" />
  <xs:complexType name="ArrayOfLocality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Locality" nillable="true" type="tns:Locality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocality" nillable="true" type="tns:ArrayOfLocality" />
</xs:schema>